## DATAFRAME BASICS
---

### Libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

### Read data

In [2]:
df = pd.read_csv("../data/facebook.csv", index_col=0) #read csv
df.head(2)

TypeError: read_csv() got an unexpected keyword argument 'index'

In [ ]:
df.shape

(780, 7)

In [ ]:
df.describe()

,Open,High,Low,Close,Adj Close,Volume
count,780.000000,780.000000,780.000000,780.000000,780.000000,7.800000e+02
mean,80.212705,81.285654,79.022397,80.264897,79.914215,1.204453e+07
std,64.226121,65.048907,63.190963,64.198375,64.327846,8.221848e+06
min,19.250000,19.500000,18.940001,19.139999,18.576082,1.311200e+06
25%,25.525000,26.085000,24.845000,25.475000,25.134512,7.215200e+06
50%,53.379999,54.034999,52.930000,53.420000,53.035403,9.728700e+06
75%,113.322502,115.779999,110.297499,113.702501,113.261238,1.408885e+07
max,245.770004,249.270004,244.449997,246.850006,246.850006,9.232320e+07

### Filter

In [ ]:
df_2015 = df.loc[0 : 1]
df_2015.head(2)

         Date       Open       High        Low      Close  Adj Close   Volume
0  2014-12-31  20.400000  20.510000  19.990000  20.049999  19.459270  4157500
1  2015-01-02  20.129999  20.280001  19.809999  20.129999  19.536913  2842000